.header{
    background-color: blue; 
    color: white;
    padding: 20px;
    text-align: center; 
    font-size: 36px;
    font-weight: bold; 
    height: 150px;
}

.nav{
    background-color: #0845c8;
    font-size: medium;
    text-align: center;
  }
  
  ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  li{
    list-style: none;
  }
  
  .nav li{
    display: inline-block;
  }
  
  
  li a{
    display:block;
    color:white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }

main {
    display: flex; /* 设置弹性布局 */
    flex-wrap: wrap; /* 设置自动换行 */ 
    gap:5px; /* 设置盒子间距 */
    padding: 20px; /* 设置内补白 */
    justify-content: space-between; /* 设置水平间距 */
}
section{
    background-color: white; /* 设置背景颜色 */
    color: #333; /* 设置文本颜色 */
    padding: 20px; /* 设置内补白 */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2); /* 设置盒子阴影 */
    border-radius: 5px; /* 设置盒子圆角 */
    width: 400px;
    height: 400px; /* 设置高度 */
    overflow: auto; 
}

img {
    max-width: 100%; /* 图片大小自适应父级容器 */
    max-height: 200px; /* 最大高度 */
    object-fit: cover; /* 压缩图片使之填满整个容器 */
}